*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after,
.container:after,
.row:after {
  clear: both;
  content: "";
  display: table;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: @white;
  color: @gray-dark;
  font-family: Arial, sans-serif;
  font-size: 1.9rem;
  line-height: 1.5;
}

a {
  color: @blue;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @red;
    text-decoration: underline;
  }

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

h1,
h2,
h3 {
  color: @black;
  font-weight: 700;
  line-height: 1;
  margin-top: @margin-xs;
  margin-bottom: 3rem;
}

h1 {
  font-size: 3.8rem;
  margin-top: 0;
  margin-bottom: @margin-xs;
  .text-center;

  @media (min-width: @screen-sm) {
    font-size: 5.6rem;
  }

  @media (min-width: @screen-lg) {
    font-size: 7.2rem;
    margin: 0 -@padding-lg @margin-lg;
  }
}

h2 {
  font-size: 3.2rem;

  @media (min-width: @screen-lg) {
    font-size: 4.2rem;
    margin-top: @margin-lg;
  }
}

h3 {
  font-size: 2.4rem;

  @media (min-width: @screen-lg) {
    margin-top: @margin-lg;
  }
}

h2 + h3 {
  margin-top: 3rem;
}

img {
  vertical-align: middle;
}

p {
  margin: 0 0 2rem;
}

.container {
  .h-margin();
  .h-padding(@padding-xs);

  @media (min-width: @screen-lg) {
    .h-padding(@padding-lg);
    width: 1200px;
  }
}

.row {
  .h-margin(-@padding-xs);

  @media (min-width: @screen-lg) {
    .h-margin(-@padding-lg);
  }
}

.btn {
  .h-margin();
  .text-center();
  background-color: @white;
  border: 2px solid transparent;
  border-radius: 1rem;
  cursor: pointer;
  display: inline-block;
  max-width: 28rem;
  padding: 1rem 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  width: 100%;

  &:focus,
  &:active {
    outline: 0;
  }
}

.form-control {
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  background-color: @white;
  background-image: none;
  border: 2px solid @black;
  color: inherit;
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  padding: 0.7rem 1.2rem;
  width: 100%;
}

.header > div {
  .v-margin(@margin-xs);

  @media (min-width: @screen-sm) {
    .v-margin(@margin-xs + 1rem);
  }

  @media (min-width: @screen-lg) {
    .v-margin(@margin-lg + 1rem);
  }
}

.logo {
  .h-margin();
  width: 30rem;

  @media (min-width: @screen-sm) {
    float: left;
  }
}

.search {
  .h-margin();
  width: 30rem;

  @media (min-width: @screen-sm) {
    float: right;
    width: 28rem;
  }

  &-input {
    .box-shadow(0; 1px; 4px; #bfbfbf; inset);
    border: 1px solid @border-form;
    border-radius: 1.6rem;
    padding-left: 3rem;
  }
}

.main {
  margin-bottom: @margin-xs * 2;
  .text-center;

  @media (min-width: @screen-lg) {
    margin-bottom: @margin-lg * 2;
  }
}

.lead {
  .h-margin();
  .v-margin(@margin-xs);
  font-size: 2.4rem;
  max-width: 88rem;
  text-align: center;

  @media (min-width: @screen-lg) {
    .v-margin(@margin-lg);
    font-size: 3.2rem;
  }
}

.footer {
  margin-top: @margin-xs * 2;
  .text-center;

  @media (min-width: @screen-lg) {
    margin-top: @margin-lg * 2;
  }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}