.books {
  &-list {
    .h-margin();
    margin-top: -@margin-xs-2 / 2;

    @media (min-width: @screen-lg) {
      margin-top: -@margin-lg-2 / 2;
    }
  }

  &-item {
    .col;
    .v-margin(@margin-xs-2 / 2);
    line-height: 1.1;

    @media (min-width: @screen-xs) {
      .col-6;
    }

    @media (min-width: @screen-md) {
      .col-3;
      .h-padding(@padding-xs * 2);
    }

    @media (min-width: @screen-lg) {
      .v-margin(@margin-lg-2 / 2);
    }

  }

  &-image {
    display: inline-block;
    margin-bottom: 3rem;
    position: relative;

    &:before {
      .linear-gradient(#919191, #868686);
      border-right: .7rem solid transparent;
      border-bottom: .5rem solid @white;
      border-left: .7rem solid transparent;
      content: '';
      height: 2.4rem;
      position: absolute;
      bottom: -1.9rem;
      left: 2.6rem;
      width: 1.4rem;
    }

    &.ribbon-red:before {
      .linear-gradient(#f4575e, #f44048);
    }

    &.ribbon-green:before {
      .linear-gradient(#009980, #007d69);
    }

    img {
      .box-shadow(4px; 4px; 8px; rgba(0, 0, 0, .3));
      .box-shadow(10px; 10px; 20px; rgba(0, 0, 0, .2));
      .img-responsive;
      position: relative;
      z-index: 100;
    }
  }

  .btn-books {
    border-color: @border-blue;
    color: @blue;
    font-size: 1.7rem;
    margin-top: @margin-xs - @margin-xs-2 / 2;

    &:hover {
      border-color: @border-red;
      color: @red;
    }

    &:active {
      font-weight: bold;
    }

    @media (min-width: @screen-lg) {
      margin-top: @margin-lg - @margin-lg-2 / 2;
    }
  }
}