.book {
  &-info {
    .col;
    margin-bottom: 6rem;

    @media (min-width: @screen-md) {
      .col-6;
      left: 25%;
    }

    @media (min-width: @screen-lg) {
      .h-padding(@padding-lg);
      margin-bottom: 3rem;
    }
  }
  
  &-image {
    display: inline-block;
    margin-bottom: @margin-xs;
    position: relative;

    @media (min-width: @screen-lg) {
      margin-bottom: @margin-lg;
    }

    &:before {
      .linear-gradient(#919191, #868686);
      border-right: .9rem solid transparent;
      border-bottom: .6rem solid @white;
      border-left: .9rem solid transparent;
      content: '';
      height: 3.2rem;
      position: absolute;
      bottom: -3.2rem;
      left: 2.6rem;
      width: 1.8rem;

      @media (min-width: @screen-xs) {
        border-width: 0 1.3rem .9rem;
        height: 4.8rem;
        bottom: -3.8rem;
        left: 3.8rem;
        width: 2.6rem;
      }
    }

    &.ribbon-red:before {
      .linear-gradient(#f4575e, #f44048);
    }

    &.ribbon-green:before {
      .linear-gradient(#009980, #007d69);
    }

    img {
      .box-shadow(8px; 8px; 16px; rgba(0, 0, 0, .3));
      .box-shadow(20px; 20px; 40px; rgba(0, 0, 0, .2));
      .img-responsive;
      position: relative;
      z-index: 100;
    }
  }

  &-description {
    .h-margin();
    font-size: 2.4rem;
    max-width: 42rem;
  }

  &-description strong {
    color: @red-light;
  }

  .reviews {
    .col;

    @media (min-width: @screen-sm) {
      .col-6;
      
    }

    @media (min-width: @screen-md) {
      .col-3;
      right: 50%;
    }

    @media (min-width: @screen-lg) {
      .h-padding(2.5rem);
    }
  }

  .features {
    .col;

    @media (min-width: @screen-sm) {
      .col-6;
      
    }

    @media (min-width: @screen-md) {
      .col-3;
      
    }

    @media (min-width: @screen-lg) {
      .h-padding(@padding-lg);
    }
  }

  .review,
  .feature {
    color: @gray;
    margin-bottom: @margin-xs-2;

    @media (min-width: @screen-lg) {
      margin-bottom: @margin-lg-2;
    }
  }

  .review p,
  .feature p {
    margin: 2.5rem 0 0;
  }

  q {
    .h-padding(2rem);
    display: block;
    position: relative;
    width: 100%;

    &:before,
    &:after {
      font-size: 4.6rem;
      line-height: .5;
      position: absolute;
    }

    &:before {
      content: '\00AB';
      top: 0;
      left: 0;
    }

    &:after {
      content: '\00BB';
      right: 0;
      bottom: .5rem;
    }
  }

  &-price {
    .col;
    .h-margin();
  }

  .btn-book {
    .box-shadow(0; 20px; 40px; rgba(56, 37, 57, .5));
    .box-shadow(0; 5px; 10px; rgba(0, 0, 0, .5));
    .linear-gradient(#623a64, #865888);
    border: 0;
    color: @white;
    font-size: 3.2rem;
    max-width: 44rem;

    &:hover {
      .linear-gradient(#49274b, #c28dc5);
    }

    &:active {
      .box-shadow(0; 5px; 10px; rgba(56, 37, 57, .5));
      .box-shadow(0; 1px; 2px; rgba(0, 0, 0, .5));
      .linear-gradient(#623a64, #865888);
    }
  }

  .pricing {
    color: @gray-light;
    font-size: 1.5rem;
    font-style: italic;
    margin: 3rem auto 1rem;
    max-width: 42rem;
  }
}