@screen-xs: 600px;
@screen-sm: 768px;
@screen-md: 992px;
@screen-lg: 1280px;

@black: #000;
@gray-dark: #333;
@gray: #4c4c4c;
@gray-light: #dcdcdc;
@blue: #4285be;
@red: #e51907;
@red-light: #fe5552;
@white: #fff;

@border-form: #b2b2b2;
@border-gray: #7d7d7d;
@border-blue: #95c1e5;
@border-red: #e51907;

@margin-xs: 4rem;
@margin-xs-2: @margin-xs + 2rem;
@margin-lg: 5rem;
@margin-lg-2: @margin-lg + 2rem;
@padding-xs: 1rem;
@padding-lg: 4rem;

@images: "../i";

.h-margin(@h: auto) {
  margin-right: @h;
  margin-left: @h;
}

.v-margin(@v) {
  margin-top: @v;
  margin-bottom: @v;
}

.h-padding(@h) {
  padding-right: @h;
  padding-left: @h;
}

.v-padding(@v) {
  padding-top: @v;
  padding-bottom: @v;
}

.col() {
  float: left;
  min-height: 1px;
  .h-padding(@padding-xs);
  position: relative;
  .text-center;
  width: 100%;
}

.col-1() {
  width: 8.333333%;
}

.col-2() {
  width: 16.666667%;
}

.col-3() {
  width: 25%;
}

.col-4() {
  width: 33.333333%;
}

.col-5() {
  width: 41.666667%;
}

.col-6() {
  width: 50%;
}

.col-7() {
  width: 58.333333%;
}

.col-8() {
  width: 66.666667%;
}

.col-9() {
  width: 75%;
}

.col-10() {
  width: 83.333333%;
}

.col-11() {
  width: 91.666667%;
}

.col-12() {
  width: 100%;
}

.text-center() {
  text-align: center;
}

.img-responsive() {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.box-shadow(@x: 0; @y: 0; @blur: 1px; @color: #000; @inset: ~'') {
  -webkit-box-shadow+: @arguments;
          box-shadow+: @arguments;
}

.linear-gradient(@color1, @color2) {
    background-color: @color1;
    background-image: -webkit-linear-gradient(bottom, @color1, @color2);
    background-image:         linear-gradient(to top, @color1, @color2);
}

@import (less) "normalize.css";
@import "base.less";
@import "books.less";
@import "book.less";
@import "order.less";
@import "about.less";