.order {
  &-image {
    .col;

    @media (min-width: @screen-md) {
      .col-3;
      left: 75%;
    }
  }

  &-data {
    .col;

    @media (min-width: @screen-md) {
      .col-9;
      right: 25%;
    }
  }

  &-col {
    .col;
    text-align: left;

    @media (min-width: @screen-sm) {
      .col-6;
      .h-padding(2rem);
    }

    @media (min-width: @screen-lg) {
      .h-padding(@padding-lg);
    }
  }

  &-price {
    .col;
    .h-margin();

    @media (min-width: @screen-md) {
      .col-6;
      left: 50%;
    }
  }

  label {
    display: block;
  }

  .label {
    padding: 1.5rem 0 0 1rem;
  }

  textarea {
    resize: vertical;
  }

  .disabled {
    color: @gray-light;
    font-style: italic;
  }

  .btn-order {
    background-color: #e6e6e6;
    border-color: @black;
    max-width: 38rem;

    &:hover {
      background-color: @white;
    }

    &:active {
      font-weight: bold;
    }
  }
}